---
# Custom styles
---

@import "minima";

/* Home page */

.home {
  h1 {
    color: #484848;
  }
}

@media (min-width: 600px) {
  .home {
    h1 {
      box-sizing: border-box;
      background-image: url("/assets/img/rp01.png");
      background-repeat: no-repeat;
      background-position: right top;
      padding-top: 60px;
      padding-right: 350px;
      height: 330px;
    }

    p {
      max-width: 700px;
    }
  }
}



/* Books page */

.book {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 20px -20px;

  &:link, &:visited, &:hover, &:active {
    color: black;
    text-decoration: none;
  }

  div, img {
    margin: 0 20px 20px;
  }

  img {
    width: 150px;

    /* source: https://codepen.io/sdthornton/pen/wBZdXq */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .reference {
    flex: 1 1 70%;

    h2 {
      font-size: 26px;
    }

    .booklink {
      margin-left: 6px;
      color: #828282;

      i {
        vertical-align: sub;
      }

      .fa-file-pdf {
        font-size: 120%;
      }

    }
  }

  &:hover, &:active {
    img {

      /* source: https://codepen.io/sdthornton/pen/wBZdXq */
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    h2 {
      text-decoration: underline;
    }
  }

}
