---
# TODO: Add styles for the book layout below
---

@import "minima";

.book:link, .book:visited, .book:hover, .book:active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px -20px;
  color: black;
  text-decoration: none;

  div, img {
    margin: 0 20px 20px;
  }

  img {
    width: 150px;
  }

  .reference {
    flex-basis: 70%;
    flex-grow: 1;
  }
}
